<div class="face-snap-card" [ngClass]="{snapped: faceSnap.snaps==1 }">
<h2>{{faceSnap.title| titlecase}}</h2>
    <img [src]= "faceSnap.faceSnapURL" [alt]="faceSnap.title">
    @if (faceSnap.location){
         <p>Location: {{faceSnap.location}}</p>
    } @else {Localisation non spécifiée}
    
    <p>{{faceSnap.description}}</p>
    <p>FaceSnap crée le {{faceSnap.createdAt| date: 'longDate'}}.</p>
    <p>
        <button (click)="onSnapButton()"> {{faceSnap.snapButtonText}}</button>
        {{faceSnap.snaps}} snaps.
    </p>
    <button (click)="onReturnButton()">Back</button>
</div>


