.face-snap-card{
    width: 50%;

    img{
        width: 100%;
    }

   
}

.snapped{
    background-color: rgba($color: lightgreen, $alpha: 0.4);
    color: darkgreen;
    button{
        box-shadow: lightgray 3px 3px 7px;
        color: darkgreen;
        &:active{
            box-shadow: lightgreen 0 0 5px;
        }
    }
}