<div class="form-card">
    <h2>Nouveau FaceSnap</h2>
    <form [formGroup]="snapForm">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="" id="description" formControlName="description" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="imageURL">imageURL</label>
            <input type="text" id="imageURL" formControlName="imageURL"> 
        </div>
        <div class="form-group"> 
            <label for="location">Location</label>
            <input type="text" id="location" formControlName="location"> 
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Enregistrer</button>
        </div>
    </form>
</div>
<div class="face-snap-card" *ngIf="faceSnapsPreview$|async as faceSnap" >
    
        <h2>{{faceSnap.title}}</h2>
            <img [src]= "faceSnap.faceSnapURL" [alt]="faceSnap.title">
            @if (faceSnap.location){
                 <p>Location: {{faceSnap.location}}</p>
            } @else {Localisation non spécifiée}
            
            <p>{{faceSnap.description}}</p>
            <p>FaceSnap crée le {{faceSnap.createdAt| date: 'longDate'}}.</p>
          
        
</div>