.face-snap-card{
    width: 30%;
    box-shadow: rgb(29, 44, 49) 1px 2px 6px;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    transform:translate(-50%);
    padding: 5px 10px;
    margin: 10px;
    img{
        width: 100%;
    }
   
    
    
}


.snapped{
    background-color: rgba($color: lightgreen, $alpha: 0.4);
    color: darkgreen;
    button{
        box-shadow: lightgray 3px 3px 7px;
        color: darkgreen;
        &:active{
            box-shadow: lightgreen 0 0 5px;
        }
    }
}